*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Links

a{
    text-decoration: none;
    
}

section{
    & > h2{
        font-size: 2.1875rem;
        font-family: $font-bold;
        margin: 50px 0;
        color: $primary-color;
        text-align: center;
    }
}

//Botones

.btn{
    display: inline-block;
    padding: 20px 0px;
    color: $primary-color;
    font-size: 20px;
    font-family: $font-bold;
    background-color: $white;
    transition: 300ms ease;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
    &-small{
        width: 200px;
        text-align: center;
        @media (max-width:1000px){
            font-size: 10px;
        }
    }

    &-medium{
        width: 250px;
        @media (max-width:1000px){
            font-size: 12px;
        }
    }

    &-large{
        width:300px;
        @media (max-width:1000px){
            font-size: 15px;
        }
    }
    &:hover{
        background-color: $primary-color;
        color: $white;
        text-decoration: none;
    }


}

.image-fit{
    object-fit: contain;
    width: 100%;
    height: 100%;

}


//Cards



.card{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.20);
    .card-wrapper{
        height: auto;
    }

    .card-image{
        overflow: hidden;
        position: relative;



        .btn{
            opacity: 0;
            position: absolute;
           
        }

        .btn-small{
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
        }

        .btn-medium{
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
        }

        &:hover .btn{
            opacity: 1;
        }

        & img{
            transition: 300ms ease-out;
            &:hover{
                transform:scale(1.3);
                filter:grayscale(0.8)
            }
        }
    }
    .card-title, .card-subtitle{
        width: 80%;
        margin: auto;
        padding: 20px 0px;
        text-align: start;
        color: $primary-color;
        text-transform: capitalize;
        

    }

    .card-title{
        font-size: 1.5625rem;
        font-family: $font-bold;
        @media (max-width:1000px){
            font-size: 15px;
        }
    }

    .card-subtitle{
        font-size: 1.1rem;
        font-family: $font-light;
        border-top:1px solid #ccc; 
        
    }
}

