@font-face {
    font-family: "Hurme Geometric Sans Bold";
    src: url("../fonts/HurmeGeometricSans2 Bold.otf");
}

@font-face{
    font-family: "Hurme Geometric Sans Light";
    src: url("../fonts/HurmeGeometricSans1\ Light.otf");
}

$font-bold:"Hurme Geometric Sans Bold";
$font-light:"Hurme Geometric Sans Light";
$primary-color: #212a2f;
$black:#000;
$white:#fff;
$gray: #4d5559;
$soft-gray:#f1ebe7;